
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Getting Started - Ghost</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../../assets/built/screen.css?v=69dd02b6b5">

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta property="og:site_name" content="Ghost">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Getting Started - Ghost">
    <meta property="og:url" content="http://localhost:2368/tag/getting-started/">
    <meta property="article:modified_time" content="2017-09-11T15:06:33.000Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Getting Started - Ghost">
    <meta name="twitter:url" content="http://localhost:2368/tag/getting-started/">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Series",
    "publisher": {
        "@type": "Organization",
        "name": "Ghost",
        "logo": "https://casper.ghost.org/v1.0.0/images/ghost-logo.svg"
    },
    "url": "http://localhost:2368/tag/getting-started/",
    "name": "Getting Started",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://localhost:2368/"
    }
}
    </script>

    <script type="text/javascript" src="../../public/ghost-sdk.js?v=69dd02b6b5"></script>
<script type="text/javascript">
ghost.init({
	clientId: "ghost-frontend",
	clientSecret: "13afe07a8dbe"
});
</script>
    <meta name="generator" content="Ghost 1.8">
    <link rel="alternate" type="application/rss+xml" title="Ghost" href="../../rss/index.html">

</head>
<body class="tag-template tag-getting-started">

    <div class="site-wrapper">

        
<header class="site-header outer no-cover">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
                <a class="site-nav-logo" href="../../"><img src="https://casper.ghost.org/v1.0.0/images/ghost-logo.svg" alt="Ghost"></a>
            <ul class="nav">
    <li class="nav-home" role="presentation"><a href="../../">Home</a></li>
</ul>
    </div>
    <div class="site-nav-right">
        <div class="social-links">
        </div>
            <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/http://localhost:2368/rss/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
    </div>
</nav>
        <div class="site-header-content">
            <h1 class="site-title">Getting Started</h1>
            <h2 class="site-description">
                    A collection of 7 posts
            </h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../welcome/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/welcome.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../welcome/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Welcome to Ghost</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Hey! Welcome to Ghost, it's great to have you :) We know that first impressions are important, so we've populated your new site with some initial Getting Started posts that will help you get</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../the-editor/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/writing.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../the-editor/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Using the Ghost editor</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Ghost uses a language called Markdown to format text. When you go to edit a post and see special characters and colours intertwined between the words, those are Markdown shortcuts which tell Ghost</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../using-tags/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/tags.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../using-tags/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Organising your content with tags</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Ghost has a single, powerful organisational taxonomy, called tags. It doesn't matter whether you want to call them categories, tags, boxes, or anything else. You can think of Ghost tags a lot like</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../managing-users/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/team.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../managing-users/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Managing Ghost users</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Ghost has a number of different user roles for your team Authors The base user level in Ghost is an author. Authors can write posts, edit their own posts, and publish their own</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../private-sites/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/locked.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../private-sites/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Making your site private</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Sometimes you might want to put your site behind closed doors If you've got a publication that you don't want the world to see yet because it's not ready to launch, you can</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../advanced-markdown/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/advanced.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../advanced-markdown/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Advanced Markdown tips</h2>
            </header>
            <section class="post-card-excerpt">
                <p>There are lots of powerful things you can do with the Ghost editor If you've gotten pretty comfortable with all the basics of writing in Ghost, then you may enjoy some more advanced</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
                <article class="post-card post tag-getting-started">
        <a class="post-card-image-link" href="../../themes/">
            <div class="post-card-image" style="background-image: url(https://casper.ghost.org/v1.0.0/images/design.jpg)"></div>
        </a>
    <div class="post-card-content">
        <a class="post-card-content-link" href="../../themes/">
            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Setting up your own Ghost theme</h2>
            </header>
            <section class="post-card-excerpt">
                <p>Creating a totally custom design for your publication Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <span class="post-card-author"><a href="../../author/ghost/">Ghost</a></span>
        </footer>
    </div>
</article>
        </div>
    </div>
</main>


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="../../">Ghost</a> © 2017</section>
                <nav class="site-footer-nav">
                    <a href="../../">Latest Posts</a>
                    
                    
                    <a href="https://ghost.org" target="_blank">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../../assets/js/jquery.fitvids.js?v=69dd02b6b5"></script>

    <script>
        var maxPages = parseInt('1');
    </script>
    <script src="../../assets/js/infinitescroll.js?v=69dd02b6b5"></script>

    

    

</body>
